h1 {
    text-align: center;
    font-family: CiscoSansTT Regular;
    font-size: 20pt;
  }

  .row {
    padding-bottom: 0.9375rem;
}

.container {
    padding-left: 3.125rem;
}

.reqd{
    color:#F7644A;
}

.input {
    width:90%;
    margin-bottom: 0.625rem;
}

#create-room-header {
    margin-left: 1.875rem;
    margin-bottom: 1.25rem;
}

#add_loading {
    margin-left: 500px;
}