h1 {
    text-align: center;
    font-family: CiscoSansTT Regular;
    font-size: 20pt;
  }

  .row {
    padding-bottom: 3.125rem;
}

.container {
    padding-left: 3.125rem;
}

#create-room-header {
    margin-left: 1.875rem;
    margin-bottom: 1.25rem;
}

.reqd{
    margin-left:0.625rem;
    color:#F7644A;
}

.input {
    width:50%;
    margin-bottom: 0.625rem;
}

#add_loading {
    margin-left: 500px;
}

#text-message-error {
    margin-left: 50rem;
}

.custom-input{
	width: 100%;
}